
body {
    font-family: 'Lato', sans-serif;
    width: 1170px;
    margin: auto;
}
h1 {
    font-size: 40px;
    color: #EC4C7A;
}
h2 {
    font-size: 35px;
    color: rgb(31, 30, 30);

}
p {
    color: #565656;
    line-height: 24px;
    margin-bottom: 30px;
    
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
    
    
}
.first-section-bg {
  margin-bottom: 200px;
    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat;
}
section {
    height: 400px;
    margin-top: 110px;
}
.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(-45deg, rgb(161, 52, 70), #ec4c7a );
    padding: 5px 9px;

    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 30px;
}
.second-section-bg {
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
}
.images-section img {
    
    width: 28%;
    margin: 2%;
}
.portfolio-section {
    display: inline-block;
}
 .work-title {
    margin-bottom: 50px;
    text-align: center;
}
.info-area {
    text-align: center;
}
.info-area h2 {
    margin-bottom: 50px;
}
.info-area p {
    font-size: 10px;
    margin-top: -2px;
}
section .paragraph {
    margin-top: -20px;
    line-height: 24px;
}
.contact-info {
    background-color: #EC4C7A;
    width: 40%;
    margin: auto;
    padding: 30px 40px;
    border-radius: 10px;
}
.contact-info p {
    color: white;
    font-size: 14px;
    margin-bottom: -10px;
}
.contact-info h3 {
    color: white;
    font-size: 25px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
footer p {
    text-align: center;
    margin-bottom: 0px;
    margin: 50px 0px 15px 0px;
}


